{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block heading %}
Hello, {{ app.user.firstName | title }}!
{% endblock %}

{% block body %}

<div class="row">
    <section class="col-md-6">
        <h2 class="fs-5 fw-bold mb-3">Edit Account Details</h2>

        {{form_start(user_form)}}

        <div class="row">
            <div class="col-md-6">
                {{form_row(user_form.firstName)}}
            </div>
            <div class="col-md-6">
                {{form_row(user_form.lastName)}}
            </div>
        </div>

        {{form_row(user_form.email)}}

        <button type="submit" class="btn btn-primary">
            Save info
        </button>

        {{form_end(user_form)}}
    </section>

    <section class="col-md-6">
        <h2 class="fs-5 fw-bold mb-3">Change Password</h2>
        {{ include('partials/_password-form.html.twig') }}
    </section>
</div>


{% endblock %}