<li class="card">
    <a href="{{ path('app_deal_show', {
        slug: deal.slug
    }) }}" class="card-body d-flex flex-column justify-content-between">

        <div>
            <h2 class="fs-6 fw-normal mb-3">
                {{ deal.name }}
            </h2>
            <small class="d-block">
                Status: <span class="text-dark">{{ deal.stage | title }}</span>
            </small>
            <small class="d-block mb-3">
                Company: <span class="text-dark">{{ deal.company.name | u.truncate(12, ' (...)', false) | title }}</span>
            </small>
        </div>

        <div>
            <small class="d-block">
                Added {{ deal.createdAt | ago }}
            </small>
            <small class="d-block">
                By: {% if deal.creator %}
                {{ deal.creator.firstName ~ ' ' ~ deal.creator.lastName }}
                {% else %}
                unexisting user
                {% endif %}
            </small>
        </div>

    </a>
</li>