<form method="GET" class="d-flex align-items-end w-100" autocomplete="off">

    <div class="pe-2 flex-fill">
        <input type="search" name="search" id="search" class="form-control" value="{{
            search
        }}" placeholder="Search">
    </div>

    {% if filter_addons | default(false) %}
        {{ include(filter_addons) }}
    {% endif %}

    <div class="pe-2">
        <select name="order" id="order" class="form-select">
            {% if not order %}
            <option value="" disabled selected hidden>Sort by</option>
            {% endif %}
            {% for val, name in sortOptions %}
            <option value="{{val}}" {{ (val==order) ? 'selected' : '' }}>{{name}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="pe-2">
        <button type="submit" class="btn btn-primary">Apply</button>
    </div>

    <div>
        <a href="{{ path(base_path, {
            slug: clear_slug | default(false) ? clear_slug : app.user.workspace.slug
        }) }}" class="btn btn-outline-primary">Clear</a>
    </div>

</form>