<div>
    {{ form_start(form) }}

    <div class="row">

        <div class="col-4">
            {{form_row(form.firstName)}}
        </div>
        <div class="col-4">
            {{form_row(form.lastName)}}
        </div>
        <div class="col-4">
            {{form_row(form.position)}}
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            {{form_row(form.email)}}
        </div>
        <div class="col-4">
            {{form_row(form.phone)}}
        </div>
        <div class="col-4">
            {{form_row(form.company)}}
        </div>
    </div>

    <input type="hidden" name="referer" value="{{app.request.headers.get('referer')}}" />

    <div class="text-end">
        <button type="submit" class="btn btn-primary">{{ buttonText }}</button>
    </div>

    {{form_end(form)}}

</div>