{% extends "base.html.twig" %}

{% block title %}Contacts{% endblock %}

{% block body %}

{{ include('layout/_heading.html.twig', {title: 'Contacts'}) }}

<div class="d-flex justify-content-between align-items-end my-4">

    {{ include('contact/_filter-form.html.twig') }}

    <a href="{{ path('app_contact_create', {slug: workspace.slug}) }}" class="btn btn-primary">Create contact</a>

</div>
<table class="table table-hover" style="min-width: 700px;">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for contact in pager %}
        <tr>
            <td>{{contact.firstName | title}}</td>
            <td>{{contact.lastName | title}}</td>
            <td>{{contact.email}}</td>
            <td>{{contact.phone}}</td>
            <td>
                <div class="d-flex">
                    <div class="me-1">
                        <a href="#" class="fw-bold text-decoration-none">Details</a>
                    </div>
                    <span>|</span>
                    <div class="ms-1">
                        <a href="#" class="fw-bold text-decoration-none">Edit</a>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if pager|length > 25 %}
<div class="my-4">
    {{pagerfanta(pager)}}
</div>
{% endif %}


{% endblock %}