<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM | {% block title %}{% endblock %}</title>
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>

    {{ include('layout/_sidebar.html.twig') }}

    <main class="dashboard">

        <header class="dashboard-header mb-5">
            <h1 class="fs-4 lh-1 fw-bold text-uppercase">
            {% block heading %}Dashboard{% endblock %}
            </h1>
        </header>

        {% for message in app.flashes('success') %}
        {{ include('partials/_flash.html.twig', { message: message }) }}
        {% endfor %}

        {% for message in app.flashes('warning') %}
        {{ include('partials/_flash.html.twig', { message: message, type: 'warning' }) }}
        {% endfor %}

        {% block body %}{% endblock %}

    </main>


</body>

</html>