{% extends 'base.html.twig' %}

{% block title %}Deals{% endblock %}

{% block heading %}Deals{% endblock %}

{% block body %}

<div class="d-flex justify-content-between align-items-end my-4">

    {{ include('partials/_filter-form.html.twig', {
    base_path: 'app_deal_index',
    filter_addons: 'deal/_filter-form-addons.html.twig'
    }) }}

    <a href="{{ path('app_deal_create', {slug: workspace.slug}) }}" class="btn btn-primary">
        Add deal
    </a>

</div>

{% if pager|length > 0 %}

<ul class="cards-grid-secondary">

    {% for deal in pager %}
    <li class="card">
        <a href="{{ path('app_deal_show', {
            slug: deal.slug
        }) }}" class="card-body d-flex flex-column justify-content-between">

            <div>
                <h2 class="fs-6 fw-bold">
                    {{ deal.name }}
                </h2>
                <small class="d-block">
                    Status: <span>{{ deal.stage | title }}</span>
                </small>
                <small class="d-block mb-2">
                    Company: <span>{{ deal.company.name | title }}</span>
                </small>
            </div>

            <div>
                <small class="text-muted d-block">
                    Added {{ deal.createdAt | ago }}
                </small>
                <small class="text-muted d-block">
                    By: {% if deal.creator %}
                    {{ deal.creator.firstName ~ ' ' ~ deal.creator.lastName }}
                    {% else %}
                    unexisting user
                    {% endif %}
                </small>
            </div>

        </a>
    </li>
    {% endfor %}
</ul>

{% else %}

{{ include('partials/_no-results-alert.html.twig') }}

{% endif %}


{% if pager|length > 12 %}
<div class="my-4">
    {{pagerfanta(pager)}}
</div>
{% endif %}

{% endblock %}