{% extends 'base.html.twig' %}

{% block title %} {{ deal.name }} {% endblock %}

{% block heading %} Deal: {{ deal.name }} {% endblock %}

{% block body %}

<div class="row gx-5">

    <section class="col-8">
        <h2 class="fs-4 mb-3">Notes</h2>

        <div>
            {{form(form)}}
        </div>

        {{ include('partials/_note-list.html.twig', {
        notes: deal.notes,
        edit_path: 'app_deal_edit_note',
        parent_slug: deal.slug,
        }) }}

    </section>

    <div class="col-4">

        <section class="mb-4">
            <h2 class="fs-4 mb-3">Info</h2>

            <ul class="list-group mb-3">
                <li class="list-group-item">
                    Company: <span class="fw-bold">
                        {{ deal.company.name }}
                    </span>
                </li>
                <li class="list-group-item">
                    Stage: <span class="fw-bold">
                        {{ deal.stage | title }}
                    </span>
                </li>
                <li class="list-group-item">
                    <span>
                        Assigned to:
                    </span>
                    <ul>
                        {% for user in deal.users %}
                        <li class="fw-bold">
                            {{ user.firstName ~ ' ' ~ user.lastName }}
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>

            <ul class="list-group">
                <li class="list-group-item">
                    Added by: <span class="fw-bold">
                        {{ deal.creator.firstName ~ ' ' ~ deal.creator.lastName }}
                    </span>
                </li>
                <li class="list-group-item">
                    Created: <span class="fw-bold">
                        {{ deal.createdAt | ago }}
                    </span>
                </li>
                <li class="list-group-item">
                    Last update: <span class="fw-bold">
                        {{ deal.updatedAt | ago }}
                    </span>
                </li>
            </ul>
        </section>

        {% if deal.description %}

        <section class="mb-4">
            <h2 class="fs-4 mb-3">Description</h2>
            <div>
                {{ deal.description }}
            </div>
        </section>

        {% endif %}

    </div>

</div>

{% endblock %}