{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block heading %}Dashboard{% endblock %}

{% block body %}

<nav class="mb-5">
    <ul class="cards-grid">

        <li class="dashboard-card card">
            <a href="{{
            path('app_contact_index', {slug: app.user.workspace.slug})
        }}" class="card-body">
                <h2 class="fs-5 fw-bold">
                    <i class="bi bi-briefcase pe-2"></i>
                    Contacts
                </h2>
                <p>
                    Total:
                    <span class="text-dark">
                        {{record_numbers.contact}}
                    </span>
                </p>
            </a>
        </li>

        <li class="dashboard-card card">
            <a href="{{
            path('app_company_index', {slug: app.user.workspace.slug})
        }}" class="card-body">
                <h2 class="fs-5 fw-bold">
                    <i class="bi bi-folder pe-2"></i>
                    Companies
                </h2>
                <p>
                    Total:
                    <span class="text-dark">
                        {{record_numbers.company}}
                    </span>
                </p>
            </a>
        </li>

        <li class="dashboard-card card">
            <a href="{{
            path('app_deal_index', {slug: app.user.workspace.slug})
        }}" class="card-body">
                <h2 class="fs-5 fw-bold">
                    <i class="bi bi-check2-square pe-2"></i>
                    Deals
                </h2>
                <p>
                    Total:
                    <span class="text-dark">
                        {{record_numbers.deal}}
                    </span>
                </p>
            </a>
        </li>

    </ul>
</nav>

<div class="row">

    <section class="col-md-6 mb-5">
        <h2 class="fw-bold fs-5 mb-3">Active Deals</h2>
        {{ render_chart(active_deals_chart) }}
    </section>

    <section class="col-md-6 mb-5">
        <h2 class="fw-bold fs-5 mb-4">Popular industries</h2>

        {% if industries_chart %}
        {{ render_chart(industries_chart) }}
        {% else %}
        {{ include('partials/_no-results-alert.html.twig', {
            message: 'Add some companies to see stats'
        }) }}
        {% endif %}

    </section>

</div>

<section class="mb-5">
    <h2 class="fw-bold fs-5 mb-3">Team Activity</h2>
    <div>
        {{ render_chart(activity_chart) }}
    </div>
</section>

<section class="mb-5">
    <h2 class="fw-bold fs-5 mb-4">Latest Notes</h2>

    {% if latest_notes | length > 0 %}

    <ul class="list-group">
        {% for note in latest_notes %}
        <li class="list-group-item px-3 py-4">
            <h3 class=" fs-6 mb-3">
                {{ note.creator.firstName ~ ' ' ~ note.creator.lastName }}
                {% if note.contact | default(false) %}
                on Contact
                <a href="{{ path('app_contact_show', {slug: note.contact.slug}) }}">
                    {{ note.contact.firstName ~ ' ' ~ note.contact.lastName }}
                </a>
                {% endif %}
                {% if note.deal | default(false) %}
                on Deal
                <a href="{{ path('app_deal_show', {slug: note.deal.slug}) }}">
                    {{ note.deal.name | u.truncate(16, '...', false) | title }}
                </a>
                {% endif %}
                added {{ note.createdAt | ago }}
            </h3>
            <div>
                {{ note.content | u.truncate(300, '...', false) }}
            </div>
        </li>
        {% endfor %}
    </ul>

    {% else %}

    {{ include('partials/_no-results-alert.html.twig') }}

    {% endif %}
</section>

{% endblock %}